*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,body{
    height: 100%;
    width: 100%;
}

.bg{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
    
}
nav{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 100px;
    
}
.nav-child1{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-child1>h3{
    
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 500;
}

.nav-child2 h1{
    text-transform: uppercase;
    font-weight: 900;
}

.nav-child3 button{
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 50px;

}
#btn2{
    background-color: orangered;
  color: white;
}

#ouradv{
    font-size: 140px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

}

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);}

#img2{ 
    transform: translate(-50%,-50%) rotate(-20deg);}
    #img3{ 
        transform: translate(-50%,-50%) rotate(-10deg);}
        #img4{ 
    transform: translate(-50%,-50%) /*rotate(deg)*/;}